<a href="https://colab.research.google.com/github/Shwethaa-R/Deep-Learning-Activity-6/blob/main/AutoEncoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AutoEncoders

The autoencoder implemented here is a Stacked Autoencoder. A stacked autoencoder is a neural network consist several layers of sparse autoencoders where output of each hidden layer is connected to the input of the successive hidden layer. A Sparse Autoencoder is a type of autoencoder that employs sparsity to achieve an information bottleneck. Specifically the loss function is constructed so that activations are penalized within a layer.

##Downloading the dataset

The autoencoder built in the following section is used for building a recommender system, which gives rating for movies. The dataset used for the same is a movie rating dataset. There are two files, namely ml-100k (contains 100k entries) and ml-1m (contains 1m entries). PyTorch is used for the implementation of the autoencoder.

In [1]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2021-05-18 14:21:01--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  26.2MB/s    in 0.2s

2021-05-18 14:21:01 (26.2 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  sample_data

In [2]:
!wget "http://files.grouplens.org/datasets/movielens/ml-1m.zip"
!unzip ml-1m.zip
!ls

--2021-05-18 14:21:05--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip’

ml-1m.zip           100%[===================>]   5.64M  33.1MB/s    in 0.2s

2021-05-18 14:21:06 (33.1 MB/s) - ‘ml-1m.zip’ saved [5917549/5917549]

Archive:  ml-1m.zip
   creating: ml-1m/
  inflating: ml-1m/movies.dat
  inflating: ml-1m/ratings.dat
  inflating: ml-1m/README
  inflating: ml-1m/users.dat
ml-100k  ml-100k.zip  ml-1m  ml-1m.zip	sample_data

##Importing the libraries

In [3]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the dataset

In [4]:
# We won't be using this dataset. This dataset is to give a basic idea of the parameters.
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [5]:
# This dataset contains the number assigned to the movie, name of the movie along with its genre respectively.
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [6]:
# This dataset contains the number assigned to the user, sex of the user, their age and the pincode respectively. 
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [7]:
# This dataset contains the number assigned to the user, the movie number, the rating and the timestamp respectively.
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

## Preparing the training set and the test set

In [8]:
# Training data = 80%, Testing data = 20%
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
# Converting the dataframe into a numpy array
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
# Converting the dataframe into a numpy array
test_set = np.array(test_set, dtype = 'int')

## Getting the number of users and movies

In [9]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

## Converting the data into an array with users in lines and movies in columns

In [10]:
# Torch tensors only accept list of lists, and not dataframes as input
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [11]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the Neural Network

In [12]:
# Autoencoders are a combination of single layer feed forward networks and hence nn.Linear() is used. The input layer has the same number of neurons as the number of movies, 
# which is the number of neurons in the output layer as well. The activation function used is sigmoid. Optimizer used is RMSProp.  
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    # Forward propagation using sigmoid activation function except on the final layer as it has to calculate the rating
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [13]:
# The model is trained for 200 epochs
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    # Torch doesn't accept a single vector of one dimension. It should be in the form of a batch.
    input = Variable(training_set[id_user]).unsqueeze(0)
    # Target values are the same as the input values.
    target = input.clone()
    # Processing only those users' ratings who have rated at least one movie
    if torch.sum(target.data > 0) > 0:
      # The predicted ratings by the model
      output = sae(input)
      target.require_grad = False
      # Setting the predicted values to 0 for the unrated movies
      output[target == 0] = 0
      # Computing the loss for the current user ratings between the predicted and actual values
      loss = criterion(output, target)
      # Term used for updating the loss function
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      # Backward propagation
      loss.backward()
      # Computing the total loss until the current epoch
      train_loss += np.sqrt(loss.data*mean_corrector)
      # Calculating the total number of users who have rated at least one movie
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'    loss: '+ str(train_loss/s))

epoch: 1    loss: tensor(1.7711)
epoch: 2    loss: tensor(1.0967)
epoch: 3    loss: tensor(1.0532)
epoch: 4    loss: tensor(1.0383)
epoch: 5    loss: tensor(1.0307)
epoch: 6    loss: tensor(1.0265)
epoch: 7    loss: tensor(1.0239)
epoch: 8    loss: tensor(1.0219)
epoch: 9    loss: tensor(1.0208)
epoch: 10    loss: tensor(1.0196)
epoch: 11    loss: tensor(1.0190)
epoch: 12    loss: tensor(1.0183)
epoch: 13    loss: tensor(1.0182)
epoch: 14    loss: tensor(1.0178)
epoch: 15    loss: tensor(1.0174)
epoch: 16    loss: tensor(1.0170)
epoch: 17    loss: tensor(1.0168)
epoch: 18    loss: tensor(1.0164)
epoch: 19    loss: tensor(1.0167)
epoch: 20    loss: tensor(1.0160)
epoch: 21    loss: tensor(1.0160)
epoch: 22    loss: tensor(1.0160)
epoch: 23    loss: tensor(1.0160)
epoch: 24    loss: tensor(1.0157)
epoch: 25    loss: tensor(1.0158)
epoch: 26    loss: tensor(1.0155)
epoch: 27    loss: tensor(1.0152)
epoch: 28    loss: tensor(1.0153)
epoch: 29    loss: tensor(1.0136)
epoch: 30    loss: tensor(1.0120)
epoch: 31    loss: tensor(1.0096)
epoch: 32    loss: tensor(1.0086)
epoch: 33    loss: tensor(1.0058)
epoch: 34    loss: tensor(1.0049)
epoch: 35    loss: tensor(1.0015)
epoch: 36    loss: tensor(1.0003)
epoch: 37    loss: tensor(0.9974)
epoch: 38    loss: tensor(0.9959)
epoch: 39    loss: tensor(0.9925)
epoch: 40    loss: tensor(0.9900)
epoch: 41    loss: tensor(0.9869)
epoch: 42    loss: tensor(0.9915)
epoch: 43    loss: tensor(0.9839)
epoch: 44    loss: tensor(0.9846)
epoch: 45    loss: tensor(0.9784)
epoch: 46    loss: tensor(0.9816)
epoch: 47    loss: tensor(0.9742)
epoch: 48    loss: tensor(0.9775)
epoch: 49    loss: tensor(0.9726)
epoch: 50    loss: tensor(0.9737)
epoch: 51    loss: tensor(0.9700)
epoch: 52    loss: tensor(0.9707)
epoch: 53    loss: tensor(0.9688)
epoch: 54    loss: tensor(0.9642)
epoch: 55    loss: tensor(0.9666)
epoch: 56    loss: tensor(0.9673)
epoch: 57    loss: tensor(0.9635)
epoch: 58    loss: tensor(0.9705)
epoch: 59    loss: tensor(0.9680)
epoch: 60    loss: tensor(0.9642)
epoch: 61    loss: tensor(0.9617)
epoch: 62    loss: tensor(0.9611)
epoch: 63    loss: tensor(0.9607)
epoch: 64    loss: tensor(0.9605)
epoch: 65    loss: tensor(0.9531)
epoch: 66    loss: tensor(0.9547)
epoch: 67    loss: tensor(0.9564)
epoch: 68    loss: tensor(0.9562)
epoch: 69    loss: tensor(0.9526)
epoch: 70    loss: tensor(0.9510)
epoch: 71    loss: tensor(0.9506)
epoch: 72    loss: tensor(0.9503)
epoch: 73    loss: tensor(0.9495)
epoch: 74    loss: tensor(0.9531)
epoch: 75    loss: tensor(0.9489)
epoch: 76    loss: tensor(0.9493)
epoch: 77    loss: tensor(0.9483)
epoch: 78    loss: tensor(0.9479)
epoch: 79    loss: tensor(0.9436)
epoch: 80    loss: tensor(0.9458)
epoch: 81    loss: tensor(0.9440)
epoch: 82    loss: tensor(0.9456)
epoch: 83    loss: tensor(0.9413)
epoch: 84    loss: tensor(0.9428)
epoch: 85    loss: tensor(0.9425)
epoch: 86    loss: tensor(0.9417)
epoch: 87    loss: tensor(0.9377)
epoch: 88    loss: tensor(0.9407)
epoch: 89    loss: tensor(0.9388)
epoch: 90    loss: tensor(0.9401)
epoch: 91    loss: tensor(0.9367)
epoch: 92    loss: tensor(0.9390)
epoch: 93    loss: tensor(0.9368)
epoch: 94    loss: tensor(0.9375)
epoch: 95    loss: tensor(0.9354)
epoch: 96    loss: tensor(0.9366)
epoch: 97    loss: tensor(0.9350)
epoch: 98    loss: tensor(0.9357)
epoch: 99    loss: tensor(0.9341)
epoch: 100    loss: tensor(0.9343)
epoch: 101    loss: tensor(0.9332)
epoch: 102    loss: tensor(0.9338)
epoch: 103    loss: tensor(0.9327)
epoch: 104    loss: tensor(0.9330)
epoch: 105    loss: tensor(0.9312)
epoch: 106    loss: tensor(0.9323)
epoch: 107    loss: tensor(0.9315)
epoch: 108    loss: tensor(0.9320)
epoch: 109    loss: tensor(0.9311)
epoch: 110    loss: tensor(0.9313)
epoch: 111    loss: tensor(0.9297)
epoch: 112    loss: tensor(0.9306)
epoch: 113    loss: tensor(0.9301)
epoch: 114    loss: tensor(0.9304)
epoch: 115    loss: tensor(0.9295)
epoch: 116    loss: tensor(0.9295)
epoch: 117    loss: tensor(0.9284)
epoch: 118    loss: tensor(0.9292)
epoch: 119    loss: tensor(0.9281)
epoch: 120    loss: tensor(0.9287)
epoch: 121    loss: tensor(0.9276)
epoch: 122    loss: tensor(0.9281)
epoch: 123    loss: tensor(0.9269)
epoch: 124    loss: tensor(0.9274)
epoch: 125    loss: tensor(0.9263)
epoch: 126    loss: tensor(0.9263)
epoch: 127    loss: tensor(0.9254)
epoch: 128    loss: tensor(0.9265)
epoch: 129    loss: tensor(0.9253)
epoch: 130    loss: tensor(0.9261)
epoch: 131    loss: tensor(0.9245)
epoch: 132    loss: tensor(0.9256)
epoch: 133    loss: tensor(0.9246)
epoch: 134    loss: tensor(0.9253)
epoch: 135    loss: tensor(0.9238)
epoch: 136    loss: tensor(0.9245)
epoch: 137    loss: tensor(0.9230)
epoch: 138    loss: tensor(0.9240)
epoch: 139    loss: tensor(0.9227)
epoch: 140    loss: tensor(0.9238)
epoch: 141    loss: tensor(0.9223)
epoch: 142    loss: tensor(0.9233)
epoch: 143    loss: tensor(0.9217)
epoch: 144    loss: tensor(0.9228)
epoch: 145    loss: tensor(0.9212)
epoch: 146    loss: tensor(0.9220)
epoch: 147    loss: tensor(0.9211)
epoch: 148    loss: tensor(0.9220)
epoch: 149    loss: tensor(0.9208)
epoch: 150    loss: tensor(0.9215)
epoch: 151    loss: tensor(0.9199)
epoch: 152    loss: tensor(0.9210)
epoch: 153    loss: tensor(0.9201)
epoch: 154    loss: tensor(0.9208)
epoch: 155    loss: tensor(0.9195)
epoch: 156    loss: tensor(0.9204)
epoch: 157    loss: tensor(0.9187)
epoch: 158    loss: tensor(0.9200)
epoch: 159    loss: tensor(0.9184)
epoch: 160    loss: tensor(0.9192)
epoch: 161    loss: tensor(0.9192)
epoch: 162    loss: tensor(0.9195)
epoch: 163    loss: tensor(0.9176)
epoch: 164    loss: tensor(0.9183)
epoch: 165    loss: tensor(0.9175)
epoch: 166    loss: tensor(0.9186)
epoch: 167    loss: tensor(0.9173)
epoch: 168    loss: tensor(0.9181)
epoch: 169    loss: tensor(0.9170)
epoch: 170    loss: tensor(0.9179)
epoch: 171    loss: tensor(0.9163)
epoch: 172    loss: tensor(0.9171)
epoch: 173    loss: tensor(0.9160)
epoch: 174    loss: tensor(0.9173)
epoch: 175    loss: tensor(0.9157)
epoch: 176    loss: tensor(0.9167)
epoch: 177    loss: tensor(0.9157)
epoch: 178    loss: tensor(0.9166)
epoch: 179    loss: tensor(0.9152)
epoch: 180    loss: tensor(0.9161)
epoch: 181    loss: tensor(0.9151)
epoch: 182    loss: tensor(0.9158)
epoch: 183    loss: tensor(0.9152)
epoch: 184    loss: tensor(0.9157)
epoch: 185    loss: tensor(0.9151)
epoch: 186    loss: tensor(0.9156)
epoch: 187    loss: tensor(0.9144)
epoch: 188    loss: tensor(0.9154)
epoch: 189    loss: tensor(0.9145)
epoch: 190    loss: tensor(0.9148)
epoch: 191    loss: tensor(0.9138)
epoch: 192    loss: tensor(0.9145)
epoch: 193    loss: tensor(0.9135)
epoch: 194    loss: tensor(0.9143)
epoch: 195    loss: tensor(0.9131)
epoch: 196    loss: tensor(0.9144)
epoch: 197    loss: tensor(0.9130)
epoch: 198    loss: tensor(0.9142)
epoch: 199    loss: tensor(0.9128)
epoch: 200    loss: tensor(0.9136)

## Testing the SAE

In [14]:
# Performing the same procedure as done on the training data, on the test data to compute the test loss
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9572)